<% if current_user.respond_to?(:email) %>
  <%= current_user.email %>
<% elsif current_user.respond_to?(:username) %>
  <%= current_user.username %>
<% else %>
  Logged In
<% end %>

<% if respond_to?(:logout_path) %>
  <%= link_to '[logout]', logout_path %>
<% end %>
