/**
 *= require uw_admin_bootstrap.css
 *= require uw_admin_bootstrap_responsive.css
 *= require_self
 */

/* Initial Body Border */
body {
  padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
}

/* Boostrap default does not account for link within .navbar-text */
.navbar-text a {
  color: #999;
}
.navbar-text a:hover {
  color: #fff;
  text-decoration: none;
}

@media (max-width: 980px) {
  body {
    padding-top: 0px;
  }
}

div.sidebar {
  padding-top: 36px;
}
