<!DOCTYPE html>
<html>
<head>
  <title><%= @page_title || 'UW Admin' %></title>
  <%= stylesheet_link_tag    "uw_admin", :media => "all" %>
  <% uw_admin_config.load_css.each do |css| %><%= stylesheet_link_tag css, :media => "all" %><% end %>
  <%= uw_admin_css %>

  <%= uw_admin_pre_js %>
  <%= javascript_include_tag "uw_admin" %>
  <%= uw_admin_header %>

  <meta name="viewport" content="initial-scale = 1.0,maximum-scale = 1.0" />
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar navbar-fixed-top<% if uw_admin_config.navbar_inverse %> navbar-inverse<% end %>">
    <div class="navbar-inner">
      <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <a class="brand" href="<%= uw_admin_title_link %>"><%= uw_admin_config.title || 'UwAdmin' %></a>
        <div class="nav-collapse">
          <% if respond_to?(:current_user) and current_user %>
          <%= render_uw_admin_menu %>
          <p class="navbar-text pull-right"><%= render 'uw_admin/login' %></p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <% if flash[:notice] %>
      <div class="alert alert-success">
        <a class="close" data-dismiss="alert" href="#">×</a>
        <%= flash[:notice] %>
      </div>
    <% end %>
    <% if flash[:alert] %>
      <div class="alert alert-error">
        <a class="close" data-dismiss="alert" href="#">×</a>
        <%= flash[:alert] %>
      </div>
    <% end %>
    <%= render 'uw_admin/content_top' %>
    <div class="row">
      <div class="<%= content_for?(:sidebar) ? 'span7' : 'span12' %>">
        <%= yield %>
      </div>
      <% if content_for?(:sidebar) %>
        <div class="span5 sidebar">
          <%= yield :sidebar %>
        </div>
      <% end %>
    </div>
  <footer class="footer">
    <%= uw_admin_footer %>
  </footer>
  </div>
  <%= js_config if respond_to?(:js_config) %>
  <% uw_admin_config.load_js.each do |js| %><%= javascript_include_tag js %><% end %>
  <%= uw_admin_js %>
</body>
<% if content_for? :post_body %><%= yield :post_body %><% end %>
</html>
